*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Bitcount Prop Single', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;

}
.container h1{
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 40px;
}
.container p{
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 20px;
}
input,textarea[type="text"], input[type="email"], input[type="password"]{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 11px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  

}
form{
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.btn{
    background-color: #24adc6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
.sumbitmsg {
    text-align: center;
    color: green;
    font-size: 20px;
}
