*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;

}
body{
.colorfont{
    color: blue;
    text-align: center;
    font-weight: 300;
}
h2{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}
}