html, body {
  /* Give the parent a height so the children can use % */
  height: 100%; 
  margin: 0;
}
body{
  background-color: antiquewhite;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  

}
div{
  width: 30%;
 height: 30%;
  font-size: large;
  display:flex;
  align-items: center;
  justify-content:center;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#box1{
  background-color: aqua;
  h4{
    background-color: beige;
    height: 10%;
  }
}
#box2{
  background-color: green;
  h4{
    background-color: azure;
    height: 10%;
  }
}