*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
  
}
div{
    height: 200px;
    width: 200px;
}
main{
    display: flex;
}
#box1{
   background-color: red;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: green;
}