html,body{
    width: 100%;
    height: 100%;
    margin: 0%;

}
body{
background-color: rgb(142, 210, 210);
display: flex;
text-align: center;
align-items: center;
justify-content: center;

}
div{
    width: 30%;
    height: 30%;


}
#box1{
background-color: rgb(139, 151, 142);
border-style: solid;
border-width: 3px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;

}
#box2{
background-color: rgb(198, 181, 25);
border-radius: 50%;
border-style: solid;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}