   * {
       margin: 0%;
       padding: 0%;
   }

   html,
   body {
       width: 100%;
       height: 100%;
   }

   h1 {
       background-color: blue;
       color: red;
       text-align: center;
       width: 100%;
       height: 25%;
   }

   P {
       width: 80%;
       background-color: rgb(0, 87, 128);
   }

   body {
       color: white;
       background-color: black;

   }

   div {
       background-color: white;
       height: 100%;
       width: 100%;
   }
   img{
    height: 400px;width:500px ;
   }