   h1{
            background-color: blue;
            color:red ;
            text-align: center;
        }P{
            background-color: aquamarine;
        }
        body{
            color:white;
            background-color: black;
            
        }